div.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

a.nav{
    font-size: 30px;
    padding: auto;
    font-family: monospace;
    text-decoration: none;
    color: #000;
}

a.nav:hover{
    font-size: 40px;
    color: #FF93D1;
}

a.nav:hover:visited{
    color: #FF93D1;
}

a.nav:visited{
    color: #000;;
}

div.nav{
    padding-bottom: 15px;
}

div.media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

a.fa{
    padding: 15px;
    font-size: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 25%;
    display: flex;
    margin: 15px;
}

div.socialmedia{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 15px;
    background-color: #FF93D1;
    border: solid;
}

.fa-soundcloud{
    background-color: #FF5500;
    color: white;
}

.fa-spotify{
    background-color: #1ED760;
    color: white;
}

a.fa.fa-tiktok{
    background-color: #000;
    color: white;
    font-family: monospace;
    font-size: small;
}

.fa-apple{
    background-color: #000;
    color: white;
}

.fa-youtube{
    background-color: #FF0000;
    color: white
}

a.fa{
    margin-left: 50px;
    margin-right: 50px;
}

#logo{
    width: 300px;
    height: 150px;
}

#music{
    padding: 25px 25px;
}

#home{
    padding: 25px 25px;
}

#store{
    padding: 25px 25px;
}

#news{
    padding: 25px 25px;
}
